<h1>Friends list goes here</h1>

<% list.forEach(function(item) { %>
        <li> <%= item; %> </li>
<% }); %>

<form action="/addfriend" method="POST">
        <input type="text" name="newfriend" placeholder="name">
        <button>I made a new friend!</button>
</form>
